<h1><center>Netflix Data: NLP</center></h1>

In [3]:
#Imported libraries
import pandas as pd   
import numpy as np
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
import regex as re
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from bs4 import BeautifulSoup             
from nltk.corpus import stopwords # Import the stopword list
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [70]:
netflix = pd.read_csv('../data/netflix-clean.csv')
netflix.head(2)

,Unnamed: 0,type,title,listed_in,description
0,0,Movie,Norm of the North: King Sized Adventure,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,1,Movie,Jandino: Whatever it Takes,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...

In [71]:
#I forgot to drop "Unnamed: 0" during cleaning
netflix = netflix.drop(columns=['Unnamed: 0'], axis=1)
netflix.head(2)

,type,title,listed_in,description
0,Movie,Norm of the North: King Sized Adventure,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,Movie,Jandino: Whatever it Takes,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...

In [72]:

netflix['type'] = netflix['type'].map({'Movie': 0, 'TV Show': 1})
netflix.head()

,type,title,listed_in,description
0,0,Norm of the North: King Sized Adventure,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,0,Jandino: Whatever it Takes,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,1,Transformers Prime,Kids' TV,"With the help of three human allies, the Autob..."
3,1,Transformers: Robots in Disguise,Kids' TV,When a prison ship crash unleashes hundreds of...
4,0,#realityhigh,Comedies,When nerdy high schooler Dani finally attracts...

In [73]:
netflix['type'].dtypes

dtype('int64')

## Instantiating

In [74]:
lemmatizer = WordNetLemmatizer()

In [75]:
tokenizer = RegexpTokenizer(r'\w+')
#tokenizer_1 = RegexpTokenizer('\w+|\$[\d\.]+|\S+')

In [76]:
lemmatizer = WordNetLemmatizer()

In [77]:
p_stemmer = PorterStemmer()

In [78]:
#train_test_split
X_train, X_test, y_train, y_test = train_test_split(netflix['description'],
                                                    netflix['type'],
                                                    random_state = 42)

In [79]:
stop_words = stopwords.words('english')
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [80]:
def status_words(status):
    '''takes a series and cleans the text data '''
    review_text = BeautifulSoup(status).get_text()
    
    letters_only = re.sub('[^a-zA-Z]', ' ', review_text)
    # Removed Non Letter
    words = letters_only.lower().split()

    stops = set(stop_words)
    meaningful_words = [lemmatizer.lemmatize(w) for w in words if w not in stops]
#    
    return(' '.join(meaningful_words))

In [81]:
#appending clean column to dataframe
netflix['description_cln'] = netflix['description'].map(status_words)

In [82]:
netflix.head(2)

,type,title,listed_in,description,description_cln
0,0,Norm of the North: King Sized Adventure,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,planning awesome wedding grandfather polar bea...
1,0,Jandino: Whatever it Takes,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,jandino asporaat riff challenge raising kid se...

In [90]:
netflix.shape

(6226, 5)

In [91]:
netflix.to_csv('desc_cln-netflix')