<h1><center>Netflix Data: Cleaning & EDA</center></h1>

## Problem Statement:

Based on the Netflix summary description, can we predict whether the description falls under someone who watched a Movie vs. a TV Show

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [45]:
#read in data
netflix = pd.read_csv('../data/netflix_titles.csv')
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [46]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [47]:
netflix.shape

(6234, 12)

In [48]:
netflix.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [49]:
netflix.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [50]:
netflix['type']

0         Movie
1         Movie
2       TV Show
3       TV Show
4         Movie
         ...
6229    TV Show
6230    TV Show
6231      Movie
6232    TV Show
6233    TV Show
Name: type, Length: 6234, dtype: object

In [52]:
netflix['description']

0       Before planning an awesome wedding for his gra...
1       Jandino Asporaat riffs on the challenges of ra...
2       With the help of three human allies, the Autob...
3       When a prison ship crash unleashes hundreds of...
4       When nerdy high schooler Dani finally attracts...
                              ...
6229    This parody of first-person shooter games, mil...
6230    Marc Maron stars as Marc Maron, who interviews...
6231    Nursery rhymes and original music for children...
6232    Set during the Russian Revolution, this comic ...
6233    This hit sitcom follows the merry misadventure...
Name: description, Length: 6234, dtype: object

In [53]:
netflix.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...

In [54]:
#dropped columns I did not need/ will not use for the 

netflix = netflix.drop(columns=['show_id', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration', 'rating'], axis=1)

In [55]:
netflix.head(2)

,type,title,listed_in,description
0,Movie,Norm of the North: King Sized Adventure,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,Movie,Jandino: Whatever it Takes,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...

In [56]:
#checked for duplicates
netflix[netflix['description'].duplicated() == True]

,type,title,listed_in,description
120,Movie,Oh! Baby (Tamil),"Comedies, International Movies, Music & Musicals",A surly septuagenarian gets another chance at ...
252,Movie,Oh! Baby,"Comedies, International Movies, Music & Musicals",A surly septuagenarian gets another chance at ...
2124,Movie,Sarkar,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
3185,Movie,Solo: A Star Wars Story (Spanish Version),"Action & Adventure, Children & Family Movies, ...",A young Han Solo tries to settle an old score ...
3752,Movie,Incredibles 2 (Spanish Version),"Children & Family Movies, Comedies",When Elastigirl gets recruited for a high-prof...
4880,Movie,Game Over (Tamil Version),"Horror Movies, International Movies, Thrillers","As a series of murders hit close to home, a vi..."
5182,Movie,Sarvam Thaala Mayam (Telugu Version),"Dramas, International Movies, Music & Musicals",An aspiring musician battles age-old caste div...
5212,Movie,Petta,"Action & Adventure, Comedies, Dramas","An affable, newly appointed college warden pro..."

In [57]:
netflix.shape

(6234, 4)

In [58]:
#dropped duplicates
netflix = netflix.drop_duplicates(subset="description")

In [59]:
netflix.shape

(6226, 4)

In [60]:
netflix.to_csv('netflix-clean.csv')